.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  .skills-content {
    display: flex;
    flex-direction: column;
    .skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        margin-top: 10px;
        font-size: 1rem;
      }
    }
  }
  .achievements {
    margin-top: 50px;
    .timeline {
      list-style: none;
      padding: 0;
      li {
        display: flex;
        margin-bottom: 30px;
        div {
          flex: 1;
          padding: 20px;
          background-color: #f9f9f9;
          border-radius: 10px;
          h4 {
            margin-bottom: 10px;
          }
          p {
            margin-bottom: 0;
          }
        }
        span {
          margin-left: auto;
          align-self: center;
          font-size: 0.9rem;
          color: #999;
        }
      }
    }
  }
}
