@import './colors.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $color-background;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-background;
  scroll-behavior: smooth;
  transition: 1s ease;
  position: relative;

  footer {
    background-color: #f9f9f9;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    .footerContent {
      max-width: 600px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      p {
        margin: 5px 0;
        font-size: 0.8rem;
        color: #666;
      }
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  position: fixed;
  top: 20%;
  left: 1px;
  // transition smooth
  transition: 1s ease;
}

a {
  text-decoration: none;
  color: $color-secondary;
  font-size: 1.5rem;
  transition: 0.3s ease;
  &:hover {
    color: $color-primary;
  }
}
.navbarUl {
  display: grid;
  z-index: 100;
  width: fit-content;
  & > li {
    list-style: none;
    padding: 10px;
    display: flex;
    gap: 10px;
    width: fit-content;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
    &:first-child {
      border-top-right-radius: 5px;
    }
    &:last-child {
      border-bottom-right-radius: 5px;
    }

    span {
      display: none;
      padding: 5px;
    }

    &:hover {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      span {
        display: block;
      }
    }
  }
}

.navbarUlVisible {
  z-index: 100;
  position: absolute;
  display: none;
  transition: 0.3s ease;
}
