.sectionContainer {
  max-width: 1256px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    color: $color-secondary;
    font-size: 2.5rem;
    font-weight: 700;
  }
  @import './pages/home.scss';
  @import './pages/about.scss';
  @import './pages/skills.scss';
  @import './pages/projects.scss';
  @import './pages/contact.scss';
}
